.pardiv {
    font-family: "Trebuchet MS";
}

.bgdiv {
    margin: 80px 13px 10px 13px;
    padding-top: 3px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

