.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin: 10px;
    padding: 0px 15px;
    box-shadow: 1px 1px 10px 1px rgb(173, 173, 173);
    text-decoration: none;
    width: 96%;
    top: 0;
    left: 0;    
    position: fixed;
}

.logo img {
    position: relative;
    width: 50px;
    height: 50px;
}

.logo a {
    text-decoration: none;
    font-family: "Trebuchet MS";
    color: #000000;
    display: flex;
    font-weight: 600;
}

.navdiv {
    display: inline-flex;
    align-items: center;
    position: relative;
}

.buttons {
    display: inline-flex;
    align-items: center;
}

.logbtn {
    text-decoration: none;
    background-color: white;
    color: black;
    cursor: pointer;
    font-weight: 600;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    height: 40px;
    width: 80px;
    border-radius: 0.3rem;
}

.logbtn:hover {
    background-color: rgb(88, 88, 88);
    color: #fff;
}

.signbtn {
    margin-left: 10px;
    text-decoration: none;
    background-color: rgb(88, 88, 88);
    color: white;
    cursor: pointer;
    font-weight: 600;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    height: 40px;
    width: 80px;
    border-radius: 0.3rem;
}

.signbtn:hover {
    background-color: white;
    color: black;
}

.childdivs {
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin: 10px 9px;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    font-family: "Trebuchet MS", "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.link {
    text-decoration: none;
    border-radius: 1rem;
}

.link:hover {
    background-color: rgb(105, 105, 105);
}

.link:hover .childdivs {
    color: white;
}