.grid {
    /* position: relative; */
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 10px;
}

.gridElement {
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    height: 280px;
    padding: 0px 3px;
}

.imgContainer {   
    margin-top: 2px;
    width: 250px;
    height: 160px;
}

.productName {
    margin-bottom: 5px;
}

.price {
    margin-bottom: 5px;
}

.atcBtn {
    margin-bottom: 20px;
    background-color: rgb(112, 112, 112);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all .4s cubic-bezier(.4, 0, .2, 1);
    border-radius: 0.5rem;
    font-weight: 600;
    height: 36px;
    width: 130px;
    border: 2px solid rgb(112, 112, 112);
}

.atcBtn:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}